.cvBackground
{
    background-color: #e1d386;
}
.backgroundElement.CV{
    transform:translate(-150%,50%);
}

.cvContent{
    font-size:0.8em;
    width:90%;
    max-width: 1400px;
    .about{
        &:nth-of-type(2n){
            flex-direction: row-reverse;
            p{
                text-align: right;
            }
            ul{
                text-align: right;
            }
        }
        margin:5% 0;
    }
    h2{
        font-size:1.2rem;
    }
    header,h3,h2{
        width: 100%;
        text-align: center;
        letter-spacing: 0.5em;
        border-bottom:1px solid black;
    }
    .side{
        width:70%;
    }
    i{
        font-size:4.5rem;
        margin:5%;
        color: #fff;
        padding:20px;
        text-shadow: 1px 1px 1px black;
    }
    article{
        width: 100%;
    }
    p{
        max-width: none;

    }
    ul{
        padding:0;
        li{
            list-style-type: none;
            &::before{
                content: "-";
            }
        }
    }
}

@media (max-width:460px)
{
    .cvContent .side{
        width: 100%;
    }
}