.kontaktBackground
{
    //background-image: url('background-4.jpg');
    background-color:#72ae8a;
}
.backgroundElement.KONTAKT{
    transform:translate(-50%,50%);
}

.formWrapper
{
    
    pointer-events: none;

    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes appearPseudoElements{
    from{
        opacity:0;
        transform: translate(0,0);
    }
    to{

    }
    
}


.kontaktContent
{
    color:$defaultFontColor;
    width:70%;
    .about{
        flex-direction: row;
        // justify-content: space-between;
        // width:60%;
        p{
            margin:auto;
            width: max-content;
        }
    }
}


