.kontaktBackground
{
    background-color:#72ae8a;
}
.backgroundElement.KONTAKT{
    transform:translate(-50%,50%);
}



@keyframes appearPseudoElements{
    from{
        opacity:0;
        transform: translate(0,0);
    }
    to{

    }
    
}


.kontaktContent
{
    color:$defaultFontColor;
    width:70%;
    .about{
       flex-direction: row;
     //  justify-content: space-between;
       margin:2%;
       a{
           transition: text-shadow .5s;
           &::before,&::after{
               content:unset;
               border:none;
           }
           &:hover{
               text-shadow: 10px 10px 2px $defaultFontColor,
                            -10px -10px 1px $defaultFontColor;
           }
       }
        i{
            font-size: 3rem;
        }
        p{
            margin:auto;
            width: max-content;
        }
    }
}


