@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@font-face {
  font-family: "CustomFont";
  src: url("https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Playfair Display";
  src: url("https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  color: aliceblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-shadow: 0 0 2px #000000d9;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

a {
  pointer-events: all;
  font-weight: 900;
  text-decoration: none;
  color: aliceblue;
  -webkit-transition: color .5s;
  transition: color .5s;
}

a:hover {
  color: #e7e7e7fb;
}

.background {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

.backgroundElement {
  position: fixed;
  pointer-events: none;
  z-index: 2;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100vw;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-box-shadow: 0px 2px 10px rgba(84, 84, 84, 0.367);
          box-shadow: 0px 2px 10px rgba(84, 84, 84, 0.367);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
}

.nygus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 100px;
}

.upbar {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 4;
  width: 40%;
  height: unset;
  font-size: 2rem;
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  letter-spacing: 0.03em;
  -webkit-box-shadow: 18px 3px 20px #000F0E26;
          box-shadow: 18px 3px 20px #000F0E26;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.upbar:hover {
  cursor: default;
}

.logo {
  margin-left: 25px;
  font-weight: 700;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-family: "CustomFont";
  letter-spacing: 0.003em;
}

.tittle {
  font-weight: 600;
  font-size: .9rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-left: 20px;
}

.tittle::before {
  content: "| ";
}

.burger {
  background-color: #dddddd30;
  border-style: none;
  padding: 0;
  width: 70px;
  height: 70px;
  top: 10px;
  right: 10px;
  position: fixed;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 2px 10px #75757516;
          box-shadow: 0 2px 10px #75757516;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.burger::after, .burger::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  border: 2px solid aliceblue;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.burger:hover, .burger :focus {
  cursor: pointer;
}

.burger:hover::after, .burger :focus::after {
  opacity: 1;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.burger:hover::before, .burger :focus::before {
  opacity: 1;
  -webkit-transform: translate(-5px, -5px);
          transform: translate(-5px, -5px);
}

.burger span {
  display: block;
  width: 50%;
  background-color: aliceblue;
  margin: 4px auto 4px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  border: 1px solid #0003;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.burger :nth-child(1) {
  height: 3px;
}

.burger :nth-child(2) {
  height: 3px;
}

.burger :nth-child(3) {
  height: 3px;
}

.clickedBurger {
  background-color: #00000000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.clickedBurger :nth-child(1) {
  -webkit-transform: rotateZ(135deg) translateY(-10px) translateX(5px);
          transform: rotateZ(135deg) translateY(-10px) translateX(5px);
}

.clickedBurger :nth-child(2) {
  -webkit-transform: translateX(30px) scaleX(0);
          transform: translateX(30px) scaleX(0);
}

.clickedBurger :nth-child(3) {
  -webkit-transform: rotateZ(-135deg) translateY(10px) translateX(5px);
          transform: rotateZ(-135deg) translateY(10px) translateX(5px);
}

.burger.hidden {
  visibility: hidden;
}

.menu {
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #111111d1;
  width: 100%;
  height: 100%;
  font-size: 16px;
  letter-spacing: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  pointer-events: none;
  -webkit-transform: translate(-100vw, 0);
          transform: translate(-100vw, 0);
  opacity: 0;
  -webkit-transition: opacity .8s , -webkit-transform .8s;
  transition: opacity .8s , -webkit-transform .8s;
  transition: transform .8s , opacity .8s;
  transition: transform .8s , opacity .8s , -webkit-transform .8s;
}

.menu ul {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu ul li {
  width: 300px;
  height: 10vh;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.menu ul li a::after, .menu ul li a::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 10vh;
  border: 2px solid aliceblue;
  -webkit-transition: opacity .6s, -webkit-transform .6s, -webkit-filter .6s;
  transition: opacity .6s, -webkit-transform .6s, -webkit-filter .6s;
  transition: transform .6s, opacity .6s, filter .6s;
  transition: transform .6s, opacity .6s, filter .6s, -webkit-transform .6s, -webkit-filter .6s;
}

.menu ul li a::before {
  opacity: 0;
  border: 2px solid aliceblue;
}

.menu ul li a:hover::after, .menu ul li a:focus::after {
  cursor: pointer;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.menu ul li a:hover::before, .menu ul li a:focus::before {
  cursor: pointer;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  opacity: 1;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.ElementWithBorder {
  position: relative;
  width: -webkit-min-content;
  width: min-content;
  width: -moz-min-content;
}

.ElementWithBorder::after, .ElementWithBorder::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid aliceblue;
  z-index: 0;
}

.ElementWithBorder::after {
  -webkit-transform: translate(-4%, -4%);
          transform: translate(-4%, -4%);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.ElementWithBorder::before {
  -webkit-transform: translate(4%, 4%);
          transform: translate(4%, 4%);
  opacity: 1;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.ElementWithBorder:nth-child(2) {
  position: relative;
  z-index: 3;
}

.homeBackground {
  background-image: url("../assets/Projekt-2.jpg");
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.backgroundElement.HOME {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    -webkit-transform: translateY(50vh);
            transform: translateY(50vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.pageContent {
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 70vh;
  font-family: 'Montserrat', sans-serif;
  text-shadow: none;
  font-size: 1em;
  line-height: 168.9%;
  letter-spacing: 0.09em;
  color: black;
  margin: 0 10%;
  padding: 0 4% 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.upbar.homebar {
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.upbar.homebar .tittle {
  margin-top: 15px;
}

.upbar.homebar .tittle::before {
  content: "";
}

@media (min-width: 740px) {
  .upbar.homebar {
    padding-top: 100px;
  }
}

@media (max-width: 480px) {
  .homeContent {
    padding-top: 75px;
  }
}

.about {
  width: 100%;
  margin: 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about img {
  min-width: 280px;
  width: 20%;
  -webkit-box-shadow: 0 5px 30px #4e4e4e95;
          box-shadow: 0 5px 30px #4e4e4e95;
}

.about p {
  text-align: justify;
  max-width: 500px;
}

.about a {
  display: block;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px;
  height: 10vh;
  pointer-events: all;
}

.about a::after, .about a::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 10vh;
  border: 2px solid aliceblue;
  -webkit-transition: opacity .6s, -webkit-transform .6s, -webkit-filter .6s;
  transition: opacity .6s, -webkit-transform .6s, -webkit-filter .6s;
  transition: transform .6s, opacity .6s, filter .6s;
  transition: transform .6s, opacity .6s, filter .6s, -webkit-transform .6s, -webkit-filter .6s;
}

.about a::before {
  opacity: 0;
  border: 2px solid aliceblue;
}

.about a:hover::after, .about a:focus::after {
  cursor: pointer;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.about a:hover::before, .about a:focus::before {
  cursor: pointer;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  opacity: 1;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.backgroundElement.WIZUALIZACJE {
  opacity: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.menuButton {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  -webkit-transition: background-color .5s, -webkit-transform 1s;
  transition: background-color .5s, -webkit-transform 1s;
  transition: background-color .5s, transform 1s;
  transition: background-color .5s, transform 1s, -webkit-transform 1s;
}

.menuButton:hover {
  cursor: pointer;
  background-color: #77777777;
}

.menuButton span {
  position: relative;
  display: block;
  width: 70px;
  height: 80px;
}

.menuButton span span {
  position: absolute;
  display: block;
  background-color: aliceblue;
  height: 3px;
  width: 35px;
  top: 35px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.menuButton span :nth-child(1) {
  left: 6px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.menuButton span :nth-child(2) {
  right: 6px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.menuButtonClicked {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menuButtonClicked span span {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.menuButtonClicked span :nth-child(1) {
  -webkit-transform: rotateZ(45deg) translate(6px, 6px);
          transform: rotateZ(45deg) translate(6px, 6px);
}

.menuButtonClicked span :nth-child(2) {
  -webkit-transform: rotateZ(-45deg) translate(-6px, 6px);
          transform: rotateZ(-45deg) translate(-6px, 6px);
}

.menuBottom {
  position: fixed;
  top: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #44444477;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display";
  font-size: 1rem;
  letter-spacing: 0.3em;
  opacity: 1;
  -webkit-transform: translate(0, 100vh);
          transform: translate(0, 100vh);
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
}

.wizContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

.wizContainer::-webkit-scrollbar {
  height: 80%;
  width: 10px;
}

.wizContainer::-webkit-scrollbar-track {
  background: #00000044;
}

.wizContainer::-webkit-scrollbar-thumb {
  background: #00000011;
}

.wizContainer::-webkit-scrollbar-thumb:hover {
  background: #000000AA;
}

.wizka {
  position: relative;
  max-width: 350px;
  max-height: 300px;
  margin: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  -webkit-box-shadow: 0px 20px 20px #48484878;
          box-shadow: 0px 20px 20px #48484878;
}

.wizka img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid aliceblue;
  width: 100%;
  height: 100%;
}

.blankiet {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.blankiet p {
  margin: 0;
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #77777777;
}

.blankiet:hover {
  cursor: pointer;
  opacity: 1;
}

.galeriaBackground {
  background-color: #d0a3a3;
}

.backgroundElement.GALERIA {
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
}

.Galeria {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.folder {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid aliceblue;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.folder p {
  font-weight: 900;
  font-size: 1.1em;
  z-index: 2;
  padding: 0;
  margin: 0;
  position: relative;
  padding-left: 5px;
  width: 100%;
  pointer-events: none;
}

.folder .iks {
  position: absolute;
  top: 0;
  right: 10px;
  display: block;
  height: 200%;
  width: 40px;
  pointer-events: all;
  cursor: pointer;
}

.folder .iks::after, .folder .iks::before {
  content: "";
  display: block;
  position: absolute;
  background-color: aliceblue;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.folder .iks::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.folder .iks::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.folder .iks:hover::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.folder .iks:hover::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.folder.collapsed {
  z-index: 2;
  border: none;
  cursor: pointer;
}

.folder.collapsed:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.folder.collapsed .obrazek {
  pointer-events: none;
  position: absolute;
  z-index: 0;
}

.folder.collapsed .obrazek:nth-of-type(1) {
  position: relative;
}

.folder.collapsed .obrazek:nth-of-type(2) {
  top: 3px;
  left: 3px;
}

.folder.collapsed .obrazek:nth-of-type(3) {
  top: 6px;
  left: 6px;
}

.folder.collapsed .obrazek:nth-of-type(4) {
  top: 9px;
  left: 9px;
}

.folder.collapsed .obrazek:nth-of-type(5) {
  top: 12px;
  left: 12px;
}

.folder.collapsed .obrazek img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.folder.collapsed p {
  position: absolute;
  border: 2px solid aliceblue;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 50%;
  width: 50%;
}

.folder.collapsed p .iks {
  display: none;
}

.obrazek {
  margin: 30px;
  width: 15vw;
  min-width: 150px;
}

.obrazek img {
  width: 100%;
  border: 3px solid aliceblue;
  -webkit-box-shadow: 0px 20px 20px #48484878;
          box-shadow: 0px 20px 20px #48484878;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.obrazek img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 11;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.modal img {
  height: 85vmin;
  pointer-events: inherit;
  display: block;
  position: relative;
  z-index: 12;
}

.modal p {
  pointer-events: inherit;
  position: relative;
}

.imgContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.imgContainer::after, .imgContainer::before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid aliceblue;
}

.imgContainer::after {
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  z-index: 11;
}

.imgContainer::before {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  z-index: 11;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.imgContainer .arrow {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.imgContainer .arrow::after, .imgContainer .arrow::before {
  opacity: 0.5;
  content: "";
  display: block;
  position: absolute;
  background-color: aliceblue;
  width: 20%;
  height: 3px;
  border-radius: 6px;
  top: 50%;
  left: -10%;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.imgContainer .arrow::after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.imgContainer .arrow::before {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.imgContainer .arrow--right {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.open {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 800px) {
  .obrazek {
    width: 23vw;
  }
}

@media (max-width: 460px) {
  .folder {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.kontaktBackground {
  background-color: #72ae8a;
}

.backgroundElement.KONTAKT {
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

@-webkit-keyframes appearPseudoElements {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
  }
}

@keyframes appearPseudoElements {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  to {
  }
}

.kontaktContent {
  color: aliceblue;
  width: 70%;
  font-size: 1.25rem;
}

.kontaktContent .about {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2%;
}

.kontaktContent .about a {
  width: auto;
  min-width: 200px;
  -webkit-transition: text-shadow .5s;
  transition: text-shadow .5s;
}

.kontaktContent .about a::before, .kontaktContent .about a::after {
  content: unset;
  border: none;
}

.kontaktContent .about a:hover {
  text-shadow: 10px 10px 2px aliceblue, -10px -10px 1px aliceblue;
}

.kontaktContent .about i {
  font-size: 3rem;
}

.kontaktContent .about p {
  margin: auto;
  max-width: 100vw;
}

@media (max-width: 600px) {
  .kontaktContent {
    font-size: 0.75rem;
  }
}

.cvBackground {
  background-color: #e1d386;
}

.backgroundElement.CV {
  -webkit-transform: translate(-150%, 50%);
          transform: translate(-150%, 50%);
}

.cvContent {
  font-size: 0.8em;
  width: 90%;
  max-width: 1400px;
}

.cvContent .about {
  margin: 2% 4%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 30%;
  min-width: 400px;
  max-width: 800px;
}

.cvContent h2 {
  font-size: 1.2rem;
}

.cvContent header,
.cvContent h3,
.cvContent h2 {
  font-size: 1.3em;
  width: 100%;
  text-align: center;
  letter-spacing: 0.2em;
  border-bottom: 1px solid black;
  position: relative;
}

.cvContent header i,
.cvContent h3 i,
.cvContent h2 i {
  position: absolute;
  opacity: 0.3;
  top: -0.5em;
  left: 50%;
  z-index: -1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cvContent i {
  font-size: 8em;
  color: #fff;
}

.cvContent article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cvContent p {
  max-width: none;
}

.cvContent ul {
  padding: 0;
}

.cvContent ul li {
  list-style-type: none;
}

.cvContent ul li::before {
  content: "-";
}

.hero {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 460px) {
  .cvContent .side {
    width: 100%;
  }
}

.sectionHeader {
  margin: 3% 0;
}

.asset {
  font-size: 1.3em;
  width: 100%;
  text-align: center;
  letter-spacing: 0.2em;
  position: relative;
}

.dots {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

.dots span {
  display: block;
  border-radius: 50%;
  background-color: #fff;
  width: 2em;
  height: 2em;
  margin: 2%;
}

.loader {
  display: block;
  width: 100vmin;
  height: 100vmin;
  position: fixed;
  z-index: 100;
}

.loader--galeria {
  position: relative;
  width: 30vmin;
  height: 30vmin;
}

.loader--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader > span {
  position: absolute;
  left: 57%;
  top: 55%;
  display: block;
  width: 10%;
  height: 10%;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-animation: rotation 4s infinite;
          animation: rotation 4s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.36, 0.69, 0.65, 0.3);
          animation-timing-function: cubic-bezier(0.36, 0.69, 0.65, 0.3);
  -webkit-transform-origin: -75% -75%;
          transform-origin: -75% -75%;
}

.loader > span::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: grow 2s alternate infinite;
          animation: grow 2s alternate infinite;
}

.loader > span:nth-of-type(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader > span:nth-of-type(2)::after {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader > span:nth-of-type(3) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.loader > span:nth-of-type(3)::after {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.loader > span:nth-of-type(4) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.loader > span:nth-of-type(4)::after {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(400deg);
            transform: rotate(400deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(400deg);
            transform: rotate(400deg);
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.menu.showed {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

.menuBottom.showed {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

.footer {
  position: relative;
  z-index: 4;
  bottom: 0;
  width: 100%;
  font-size: 0.625rem;
  text-align: center;
  background-color: black;
}

@media (max-width: 800px) {
  .upbar {
    font-size: 1.5rem;
  }
}

@-webkit-keyframes appearFromRight {
  from {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes appearFromRight {
  from {
    -webkit-transform: translateX(30vw);
            transform: translateX(30vw);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=styles.css.map */