@font-face {
    font-family: "CustomFont";
    src: url("https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
        font-family: "Playfair Display";
        src: url("https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2") format("woff2");
        font-style: normal;
            font-weight: 400;
            unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@mixin flexCenter(){
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

$backgroundColor:  #44444477;
$hoverColor:  #77777777;
$defaultFontColor: aliceblue;
$lightWhite:#dddddd30;



body
{
     width:100vw;
     min-height: 100vh;
     margin: 0; 
     color: $defaultFontColor;
     box-sizing: border-box;

     display:flex;
     flex-direction: column;
    justify-content: space-between;
     
     text-shadow: 0 0 2px #000000d9;
     overflow-x: hidden;
     
}
a{
    pointer-events: all;
    font-weight: 900;
    text-decoration: none;
    color: $defaultFontColor;
    transition: color .5s;
    &:hover
    {
            color: #e7e7e7fb;
    }
}

.background
{
    display: block;
    position:fixed;
    z-index:-1;
    top:0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: brightness(.95);
}
.backgroundElement{
    position: fixed;
    z-index:2;
    display:block;
    width:100vw;
    height: 100vh;
    top:0;
    left:100vw;
    transform:translate(-50%,-45%);
    transition: all 1.5s;
   // background-color:#000000aa;
    box-shadow: 0px 2px 10px rgba(84, 84, 84, 0.367);
}

.nygus{
    height: 100%;
    display:flex;
    align-items: center;
}

.upbar
{
    
    position: relative;
    z-index:4;
    width: 40%;
    min-width:250px;
    height: fit-content;
    @include flexCenter();
    justify-content: left;
    flex-wrap: wrap;
    font-family: "Playfair Display";
    font-size: 32px;
    letter-spacing: 0.03em;
    box-shadow: 18px 3px 20px #000F0E26;
    padding-top:20px;
    padding-right: 30px;
    padding-bottom: 20px;

    &:hover{
        cursor:default;  
    }
}
.logo
{
    margin-left:25px;
    font-weight: 700; 
    min-width: fit-content;
    font-family: "CustomFont";
    letter-spacing: 0.003em;
}
.tittle
{
    font-weight: 400;
    font-size: 15px;
    min-width: fit-content;
    margin-left: 20px;
    &::before{
        content: "| ";
    }
}
.burger
{
    background-color:$lightWhite;
    width:70px;
    height: 70px;
    top:10px;
    position: fixed;
    right: 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: background-color 1s;

    &::after,&::before{
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        opacity:0;
        top:0;
        left:0;
        border: 2px solid $defaultFontColor;

        transition: all .5s;
    }

    &:hover
    {
        cursor: pointer;
       &::after{
           opacity:1;
           transform: translate(2px,2px);
           filter: blur(1px);
       }
       &::before{
        opacity:1;
        transform: translate(-5px,-5px);
    }
    }
    span{
        display:block;
        width: 50%;
        background-color: $defaultFontColor;
        margin: 4px auto 4px;
        transition: transform .5s;
    }
    :nth-child(1)
    {
        height: 3px;
    }
    :nth-child(2)
    {
        height: 3px;
    }
    :nth-child(3)
    {
        height: 3px;
    }
}
.clickedBurger
{
    background-color:#00000000;
    :nth-child(1){
        transform: rotateZ(135deg) translateY(-10px) translateX(5px);
    }
    :nth-child(2){
        transform: translateX(30px) scaleX(0);
    }
    :nth-child(3){
        transform: rotateZ(-135deg) translateY(10px) translateX(5px);
    }
}
.menu
{
    position:fixed;
    top:0;
    z-index: 9;
    background-color: #111111d1;
    width: 100%;
    height: 100%;
    
    font-family: "Playfair Display";
    font-size: 16px;
    letter-spacing: 0.3em;
    @include flexCenter();
    
    pointer-events: none;
    transform: translate(-100vw,0);
    opacity:0;
    transition: transform .8s , opacity .8s;

    ul{  
        margin: 0;
        padding: 0;
        flex:auto;
        display:flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        li
        {  
            $optionWidth: 300px;
            width: $optionWidth;
            height: 10vh;
            margin: 20px;    
            @include flexCenter();
            a
            {   @include flexCenter();
                width: 100%;
                height: 100%;
                pointer-events: all;
                &::after , &::before{
                    content: "";
                    position: absolute;
                    width: $optionWidth;
                    height: 10vh;
                    border: 2px solid $defaultFontColor;
                    transition: transform .6s, opacity .6s, filter .6s;
                }
                &::before{
                    opacity:0;
                    border: 2px solid $defaultFontColor;
                }
                &:hover::after{
                cursor: pointer;
                transform: translate(-10px,-10px);
                filter: blur(1px);
                }
                &:hover::before{
                    cursor: pointer;
                    transform: translate(10px,10px);
                    opacity:1;
                    filter: blur(1px);
                }   
            }
        }
    }
}

//import home
@import './home';

//podstrona wizualizacje
@import './wiz';

//podstrona galeria
@import './galeria';

//podstrona kontakt
@import './kontakt';

//class for all elements that are showable
.showed
{
    opacity: 1;
    transform: translate(0,0);
    pointer-events: all;
}

.footer
{
   position: relative;
   z-index:4;
//    bottom:0;
    width: 100%;
    font-size: 10px;
    text-align: center;
    background-color: black;
}


@media (max-width:800px)
{
    .upbar{
        font-size: 24px;
    }
}

