@font-face {
  font-family: "CustomFont";
  src: url("https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Playfair Display";
  src: url("https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  color: aliceblue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-shadow: 1px 1px 6px #44444477;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  -webkit-transition: color .5s;
  transition: color .5s;
}

a:hover {
  color: #f3f3f3bd;
}

.background {
  display: block;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.upbar {
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Playfair Display";
  font-size: 25px;
  letter-spacing: 0.03em;
}

.upbar:hover {
  cursor: default;
}

.logo {
  margin: 0 25px 0;
  font-weight: 700;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-family: "CustomFont";
  letter-spacing: 0.003em;
}

.tittle {
  font-weight: 400;
  font-size: 15px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 20px;
}

.tittle::before {
  content: "| ";
}

.burger {
  width: 70px;
  height: 70px;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger:hover {
  cursor: pointer;
}

.burger span {
  display: block;
  width: 50%;
  background-color: aliceblue;
  margin: 4px auto 4px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.burger :nth-child(1) {
  height: 2px;
}

.burger :nth-child(2) {
  height: 3px;
}

.burger :nth-child(3) {
  height: 2px;
}

.clickedBurger :nth-child(1) {
  -webkit-transform: rotateZ(135deg) translateY(-10px) translateX(5px);
          transform: rotateZ(135deg) translateY(-10px) translateX(5px);
}

.clickedBurger :nth-child(2) {
  -webkit-transform: translateX(30px) scaleX(0);
          transform: translateX(30px) scaleX(0);
}

.clickedBurger :nth-child(3) {
  -webkit-transform: rotateZ(-135deg) translateY(10px) translateX(5px);
          transform: rotateZ(-135deg) translateY(10px) translateX(5px);
}

.menu {
  position: absolute;
  z-index: 9;
  background-color: #44444455;
  width: 100%;
  height: 100%;
  font-family: "Playfair Display";
  font-size: 15px;
  letter-spacing: 0.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  pointer-events: none;
  -webkit-transform: translate(-100vw, 0);
          transform: translate(-100vw, 0);
  opacity: 0;
  -webkit-transition: opacity .8s , -webkit-transform .8s;
  transition: opacity .8s , -webkit-transform .8s;
  transition: transform .8s , opacity .8s;
  transition: transform .8s , opacity .8s , -webkit-transform .8s;
}

.menu ul {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu ul li {
  width: 300px;
  height: 10vh;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.menu ul li a::after, .menu ul li a::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 10vh;
  border: 2px solid aliceblue;
  -webkit-transition: opacity .6s, -webkit-transform .6s, -webkit-filter .6s;
  transition: opacity .6s, -webkit-transform .6s, -webkit-filter .6s;
  transition: transform .6s, opacity .6s, filter .6s;
  transition: transform .6s, opacity .6s, filter .6s, -webkit-transform .6s, -webkit-filter .6s;
}

.menu ul li a::before {
  opacity: 0;
  border: 2px solid #1e1e1ed2;
}

.menu ul li a:hover::after {
  cursor: pointer;
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.menu ul li a:hover::before {
  cursor: pointer;
  -webkit-transform: translate(10px, 10px);
          transform: translate(10px, 10px);
  opacity: 1;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.homeBackground {
  background-image: url("background.jpg");
}

canvas {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  position: static;
}

.menuButtonContainer {
  position: absolute;
  min-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

.menuButtonContainer:hover {
  cursor: pointer;
}

.menuButton {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  -webkit-transition: background-color .5s, -webkit-transform 1s;
  transition: background-color .5s, -webkit-transform 1s;
  transition: background-color .5s, transform 1s;
  transition: background-color .5s, transform 1s, -webkit-transform 1s;
}

.menuButton:hover {
  cursor: pointer;
  background-color: #77777777;
}

.menuButton span {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
}

.menuButton span span {
  position: absolute;
  display: block;
  background-color: aliceblue;
  height: 3px;
  width: 35px;
  top: 35px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.menuButton span :nth-child(1) {
  left: 6px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.menuButton span :nth-child(2) {
  right: 6px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.menuButtonClicked {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menuButtonClicked span :nth-child(1) {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.menuButtonClicked span :nth-child(2) {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.menuBottom {
  position: fixed;
  top: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #44444477;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding-top: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Playfair Display";
  font-size: 15px;
  letter-spacing: 0.3em;
  opacity: 1;
  -webkit-transform: translate(0, 100vh);
          transform: translate(0, 100vh);
  -webkit-transition: opacity .5s, -webkit-transform 1s;
  transition: opacity .5s, -webkit-transform 1s;
  transition: opacity .5s, transform 1s;
  transition: opacity .5s, transform 1s, -webkit-transform 1s;
}

.wizContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

.wizka {
  position: relative;
  max-width: 350px;
  margin: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

.wizka img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid aliceblue;
  width: 100%;
  height: 100%;
}

.blankiet {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.blankiet p {
  margin: 0;
  padding: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #77777777;
}

.blankiet:hover {
  cursor: pointer;
  opacity: 1;
}

.galeriaBackground {
  background-image: url("background.jpg");
}

.Galeria {
  position: fixed;
  top: 0;
  padding: 70px 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow-y: scroll;
}

.obrazek {
  margin: 30px;
  max-width: 300px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.obrazek img {
  width: 100%;
  border: 3px solid aliceblue;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.obrazek img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 11;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.modal img {
  height: 85vmin;
  pointer-events: inherit;
}

.modal p {
  pointer-events: inherit;
}

.open {
  opacity: 1;
  pointer-events: all;
}

.showed {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10px;
  font-size: 10px;
  text-align: center;
  background-color: black;
  z-index: 1;
}
/*# sourceMappingURL=styles.css.map */